{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>HTML TO PDF</title>
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<style>
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .header-text {
    line-height: 10px;
  }
  .header-main {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

table {
    display: block;
    border: 1px solid black;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    background-color: rgb(229, 237, 243);
  }

  .wid {
    word-wrap: break-word;
  }

  .maydon { 
    width: 100%;
    position: relative;
    font-size: 18px;
  }
 .maydon-center {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 17px;
  }
  .imgfor{
    position: absolute;
    top: 100px;
    right: 0;
  }
  .text-center{
    font-weight: bold;
  }
  .ishga_kirgan{
    font-weight: 600;
  }
  .maydon-item-color{
    font-weight: bold;
  }
  .container_content{
    margin: 20px 30px;
  }
</style>
<body>
  {% for i in home %}
  <div class="container_content" id="container_content">
    <div class="maydon container">
        <header>
          <h1 class="text-center">Ma'lumotnoma</h1>
          <h4 class="text-center">{{i.familya}} {{i.ismi}} {{i.otasining_ismi}}</h4>
        </header>
        <div class="ishga_kirgan mt-4" >
          <p >{{i.ishga_kirgan_vaqti|date:"Y"}} yil {{ i.ishga_kirgan_vaqti |date:'d-F' }} dan:</p>
          <p>14- sonli maktab o'qituvchisi</p>
        </div>
        <div class="imgfor">
          <img width="100px" src="{{i.img.url}}" alt="">
        </div>

        <div class="maydon-center mt-3" style="padding:0px 10px;">
          <div class="maydon-lift">
            <div class="maydon-item">
              <span class="maydon-item-color">To'g'ilgan yili:</span><br>
              <span>{{i.tugilgan_yili|date:"d-m-Y"}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Ma'lumoti bo'yicha mutaxasisligi:</span><br>
              <span>{{i.mutaxasisligi}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Qaysi chet tillarini biladi:</span><br>
              <span>{{i.chet_tili|title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Tamomlagan joyi:</span><br>
              <span>{{i.tamomlagan_joyi|title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Partiyaga a'zomi:</span><br>
              <span>{{i.partiyaviyligi|title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Millati:</span><br>
              <span>{{i.millati|title}}</span>
            </div>
          </div>
          <div class="maydon-right">
            <div class="maydon-item">
              <span class="maydon-item-color">Ma'lumoti:</span><br>
              <span>{{i.malumoti|title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">To'g'ilgan joyi:</span><br>
              <span>{{i.t_joyi |title}}</span>
            </div>

            <div class="maydon-item">
              <span class="maydon-item-color">Ilmiy unvoni:</span><br>
              <span>{{i.ilmiy_unvoni |title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Harbiy unvoni:</span><br>
              <span>{{i.harbiy_unvoni |title}}</span>
            </div>
            <div class="maydon-item">
              <span class="maydon-item-color">Davlat mukofati bilan taqdirlanganmi: </span><br>
              <span>{{i.davlat_mukofati|title}}</span>
            </div>
          </div>
        </div>
        </div>
        <div class="container" style="padding:0px 15px;">
          <h4 class="maydon-item-color text-center">Mehnat faoliyati:</h4>
          <p>{{i.content.html | safe}}</p>
        </div>
  </div>
  <div class="text-center" >
      <a href="{% url 'updateblog' i.id %}  " type="submit" style="padding:10px 20px; font-size: 17px; " class="btn btn-primary ms-3">Tahrirlash</a> 
    <input style="padding:10px 20px; font-size: 17px;" type="button" id="rep" value="Print" class=" btn btn-info btn_print" >
  </div>
  </div>
  {% endfor %}
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript">
    $(document).ready(function($){
      $(document).on('click','.btn_print',function(event){
        event.preventDefault();
        var element = document.getElementById('container_content');
        html2pdf().from(element).save();
        // html2pdf().set({filename:js.AutoCode()+'.pdf'}).from(element).save();
        var opt ={
          margin:1,
          filename:'pageContent'+jsAutoCode()+'.pdf',
          image:{type:'jpeg',quality:0.98},
          html2canvas:{scale:2},
          jsPDF:{unit:'in',format:'letter',orientation:'portrait'}
        };    
      })

    })

  </script>
   
</body>

</html>